.sobre {
    padding: 10px;
}

.proposta {
    padding: 10px;
}

.diferencial {
    padding: 10px;
}

p {
    font-size: 18px;
    margin: 20px;
}

li {
    font-size: 18px;
}


.contato {
    padding: 10px;
    width: 750px;
    background-color: #065F46;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0px auto;
}